/* Class Styling */

.budgetReport {
  max-width: 500px;
  padding-bottom: 5px;
  width: 95%;
}

.charges_table {
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
}

.float-right {
  float: right;
}

.green {
  color: rgb(28, 88, 28);
}

.red {
  color: rgb(148, 20, 37);
}

.month_totals {
  margin: 25px;
}

.paycheck {
  width: 100%;
}

.remainder {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.remainder p {
  border-top: 1px solid black;
  justify-self: flex-end;
}

.report {
  width: 100%;
}

.title {
  margin: 10px;
}

.total {
  max-height: 22px;
}

.wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* ID Styling */

#month_name {
  height: 29px;
  width: 109px;
}

#newBudget {
  width: 100%;
  max-width: 100%;
}

/* Responsive Styling */

@media screen and (min-width: 500px) {
  .budgetReport {
    width: 90%;
  }
}

@media screen and (min-width: 1050px) {
  .budgetReport {
    width: 50%;
    max-width: 700px;
  }
  .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }
}
