.budgetReport {
  margin: 0 auto;
  max-width: 500px;
  width: 95%;
}

.charges_table {
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
}

.float-right {
  float: right;
}

.main_button {
  margin: 10px;
  padding: 5px 15px;
}

.month_totals {
  margin: 25px;
}

.paycheck {
  width: 100%;
}

.remainder {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.remainder p {
  border-top: 1px solid black;
  justify-self: flex-end;
}

.report {
  width: 100%;
}

.title {
  margin: 10px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#newBudget {
  width: 100%;
  max-width: 100%;
}

@media screen and (min-width: 500px) {
  .budgetReport {
    width: 90%;
  }
}

@media screen and (min-width: 1050px) {
  .budgetReport {
    width: 50%;
    max-width: 700px;
  }
  .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
