tr.remaining td {
  border-top: 1px solid black;
  width: 200px;
}

tr.remaining {
  width: 100px;
}

.charges_table {
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
}

.float-right {
  float: right;
}

.month_totals {
  margin: 25px;
}

.paycheck {
  width: 100%;
}

.remainder {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.remainder p {
  border-top: 1px solid black;
  justify-self: flex-end;
}

.report {
  width: 100%;
}
