/* Class Styling */

.createBudget {
  margin: 0px auto 10px;
  max-width: 700px;
  padding: 10px;
  width: 95%;
}

/* ID Styling */
#newYear {
  max-width: 120px;
}

/* Responsive Styling */

@media screen and (min-width: 500px) {
  .createBudget {
    width: 80%;
  }
}
