.demo {
  box-shadow: 0 0 0 100vmax rgb(0, 0, 0, 0.5);
  border-radius: 5px;
  position: absolute;

  z-index: 15;
}

.phase_one {
  left: 50%;
  height: 200px;
  margin-left: -100px;
  padding: 5px;
  top: 50%;
  margin-top: -200px;
  width: 200px;
  border-radius: 5px;
}

.phase_two {
  left: 50%;
  height: 150px;
  width: 250px;
  margin-left: -100px;
}

.phase_three {
  left: 50%;
  height: 175px;
  width: 300px;
  top: 675px;
  margin-left: -150px;
}

.phase_four {
  left: 50%;
  margin-left: -100px;
  height: 90px;
  width: 250px;
  top: 798px;
}

.phase_five {
  left: 50%;
  margin-left: -110px;
  height: 100px;
  width: 270px;
  top: 830px;
}

.tip {
  background-color: white;
  border-radius: 5px;
  font-size: 18px;
  padding: 2px;
  position: absolute;
}

#text_one {
  font-size: 22px;
}

#phase_one {
  top: 150px;
  left: 70px;
}

#phase_two {
  top: 75px;
  right: 10px;
}

#phase_three {
  position: absolute;
  top: 120px;
  right: 10px;
  z-index: 30;
}

#phase_four {
  top: 50px;
  right: 10px;
}

#phase_five {
  top: 55px;
  right: 5px;
}

#phase_six {
  top: 150px;
  left: 70px;
}

.demo_button {
  border: 1px solid red;
  position: absolute;
  z-index: 30;
}

@media screen and (min-width: 430px) {
  .phase_three {
    top: 655px;
  }
  .phase_four {
    top: 775px;
  }
  .phase_five {
    top: 810px;
  }
}

@media screen and (min-width: 460px) {
  .phase_three {
    top: 670px;
  }
  .phase_four {
    top: 750px;
  }
  .phase_five {
    top: 790px;
  }
}
