/* Class Styling - NON alphabetized nomencalture below */

.demo {
  border-radius: 5px;
  box-shadow: 0 0 0 100vmax rgb(0, 0, 0, 0.5);
  position: absolute;
  z-index: 15;
}

.demo_button {
  background-color: rgb(113, 187, 248);
  position: absolute;
  z-index: 30;
}

.phase_one {
  border-radius: 5px;
  height: 200px;
  left: 50%;
  margin-left: -100px;
  margin-top: -200px;
  padding: 5px;
  top: 50%;
  width: 200px;
}

.phase_two {
  left: 50%;
  height: 150px;
  margin-left: -100px;
  top: 50px;
  width: 250px;
}

.phase_three {
  left: 50%;
  height: 175px;
  margin-left: -150px;
  top: 677px;
  width: 300px;
}

.phase_four {
  height: 90px;
  left: 50%;
  margin-left: -100px;
  top: 799px;
  width: 270px;
}

.phase_five {
  height: 100px;
  left: 50%;
  margin-left: -130px;
  top: 837px;
  width: 300px;
}

.phase_six {
  height: 240px;
  left: 50%;
  margin-left: -100px;
  margin-top: -200px;
  padding: 5px;
  top: 50%;
  width: 200px;
}

.tip {
  background-color: white;
  border-radius: 5px;
  font-size: 18px;
  padding: 5px;
  position: absolute;
}

/* ID styling */

#text_one {
  font-size: 22px;
  padding: 5px;
}

#phase_one {
  left: 70px;
  top: 150px;
}

#phase_two {
  right: 10px;
  top: 75px;
}

#phase_three {
  position: absolute;
  right: 10px;
  top: 110px;
  z-index: 30;
}

#phase_four {
  right: 10px;
  top: 50px;
}

#phase_five {
  right: 5px;
  top: 54px;
}

#phase_six {
  left: 70px;
  top: 185px;
}

#text_six {
  padding: 10px;
}

/* Responsive Styling */

@media screen and (min-width: 430px) {
  .phase_three {
    top: 654px;
  }
  .phase_four {
    top: 775px;
  }
  .phase_five {
    top: 815px;
  }
}

@media screen and (min-width: 460px) {
  .phase_three {
    top: 630px;
  }
  .phase_four {
    top: 755px;
  }
  .phase_five {
    top: 790px;
  }
}
