.charge {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  margin: 5px;
  width: 90%;
}

.date_detail {
  min-width: 130px;
}

.detail {
  padding: 0px 5px;
}

.name_detail {  
min-width: 130px;
}
.editType {
  min-width: 200px;
}

.Income {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  width: 100%;
}

.checkRemainder {
  align-items: center;
  border-top: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  list-style-type: none;
  padding: 5px;
  width: 100%;
}

@media screen and (min-width: 900px) {
  .charge {
    min-width: 100%;
  }
  .editType {
    min-width: 200px;
  }
}
