/* Class Styling */

.charge {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  padding: 5px;
  width: 100%;
}

.chargeWrapper {
  width: 100%;
}

.checkRemainder {
  align-items: center;
  border-top: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  list-style-type: none;
  padding: 5px;
  width: 100%;
}

.date_detail {
  min-width: 50px;
}

.detail {
  padding: 0px 5px;
}

.editDiv {
  min-width: 55px;
}

.editingImg {
  height: 20px;
  width: 20px;
}

.editType {
  margin: 0px 2px;
}

.Income {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  width: 100%;
}

.name_detail {
  min-width: 130px;
}

/* ID Styling */

#amount {
  min-width: 70px;
}

#charge_name {
  min-width: 100px;
}

#due_date {
  max-width: 163px;
}

/* Responsive Styling */

@media screen and (min-width: 400px) {
  .charge {
    width: 90%;
  }
  .editingImg {
    height: 20px;
    width: 20px;
  }
  .editType {
    margin: 0px 5px;
  }
}

@media screen and (min-width: 900px) {
  .charge {
    width: 80%;
  }
}
