/* Global element styles */

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
}
body {
  /* background-color: #012e40; */
}

main {
  padding-top: 60px;
}

/* Global class sytles */

.App {
  text-align: center;
}

.error {
  color: red;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formBorder {
  border: 1px solid hsla(0, 0%, 78%, 0.747);
  border-radius: 5px;
  margin: 30px 0px;
  max-width: 350px;
  width: 80%;
}

.formInput {
  margin: 5px;
  max-width: 350px;
  padding: 5px;
  width: 80%;
}

.green {
  color: green;
}

.hidden {
  display: none;
}

.light {
  color: #bde8f2;
}

.red {
  color: red;
}

.width-100 {
  width: 80%;
}

/* App component ID styles */

/* Responsive Adjustments */
