/* Global element styles */

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
}

/* Global class sytles */

.App {
  text-align: center;
}

/* App component ID styles */

/* Responsive Adjustments */
